<h1>About Us</h1>
<p>Reptyは信頼できる爬虫類好きが集まる爬虫類コミュニティで、爬虫類が好きな人同士の出会い、ちょっとしたお出かけ時などの預け先、はたまた大事な家族である爬虫類の体調管理のための獣医へのマッチングなどの場を提供します。</p>


<h2>StartUpメンバー</h2>
<div class="members">
	<div class="member">
		<img src="/assets/yukki.png">
		<h4>ゆっき</h4>
		<p></p>
	</div>
	<div class="member">
		<img src="/assets/hiroto.png">
		<h4>ヒロト</h4>
		<p></p>
	</div>
	<div class="member">
		<img src="/assets/ren.png">
		<h4>れん</h4>
		<p></p>
	</div>
	<div class="member">
		<img src="/assets/kazukin.png">
		<h4>カズキン</h4>
		<p></p>
	</div>
	<div class="member">
		<img src="/assets/naoto.png">
		<h4>ナオト</h4>
		<p></p>
	</div>
	<div class="member">
		<img src="/assets/kiichi.png">
		<h4>きいち</h4>
		<p></p>
	</div>
</div>