<style type="text/css">
<!--
#QandA-2 {
	width: 100%;
	font-family: メイリオ;
	font-size: 12px; /*全体のフォントサイズ*/
}
#QandA-2 h3 {
	font-size: 16px;
	margin-top: 32px;
}
#QandA-2 dl {
	border: 1px solid #ccc;
}
#QandA-2 dt {
font-weight: bold;
	color: #111;
	background: #f4f4f4; /* 「Q」タイトルの背景色 */
	padding: 8px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#QandA-2 dt:first-child {
	border-top: none;
}
#QandA-2 dt:before {
	content: "Q.";
	font-weight: bold;
	margin-right: 8px;
}
#QandA-2 dd {
	padding: 16px 16px 24px 30px;
	margin: 0;
	line-height: 140%;
}
#QandA-2 dd:first-line {
	font-weight: bold;
	color: #bf0000;
}
#QandA-2 dd:before {
	content: "A.";
	font-weight: bold;
	margin-right: 8px;
	margin-left: -21px;
}
-->
</style>





<div id="QandA-2">

	<h3>Reptyについて/よくある質問(FAQ)</h3>
	<dl>
		<dt> Reptyでは何ができますか？</dt>
		<dd>Reptyは全国にいる爬虫類を飼っている方が繋がれるマッチングサイトです。<br>Reptyではペット預かりのプラットフォームの提供、獣医さんへの質問も可能です。</dd>
	</dl>
	<dl>
		<dt>チャットだけでなく、リアルでも繋がりたいんですが・・・</dt>
		<dd>Reptyは定期的に爬虫類に関するイベントを行なっています。<br>普段触れ合えない爬虫類に触れ合えるチャンスです！ぜひ足を運んでください</dd>
	</dl>

	<dl>
		<dt>料金について教えてください</dt>
		<dd>マッチングサービス、獣医さんへの質問は無料で使用していただけます。</br>ユーザー同士のペット預かりの際に手数料をいただきます</dd>
	</dl>
	<dl>
		<dt>hogehoge</dt>
		<dd>回答内<br>回答内容</dd>
	</dl>
</div>
