<h1>プライバシーポリシー</h1>

<p>株式会社<%= @company_name %>（以下「弊社」といいます）は、弊社が提供するサービス（以下「本サービス」といいます）をご利用いただくにあたり、ご利用者（会員及び本サービスご利用前に本サービスに関するお問い合わせ等をされた方を含みます。以下「ユーザー」といいます）によるご本人の個人情報又は、ご本人様のペットの情報（個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により、又は他の情報と容易に照合することにより、特定の個人を識別することができるもの）のご登録を必要とします。弊社は、ユーザーより提供された個人情報を本プライバシーポリシーに沿って慎重な取り扱いを行うとともに、その内容につきましては以下のとおりとします。</p>

<ol>
	<li>本サービスにて取得、利用するユーザーの個人情報</li>
	<p>弊社は、本サービスを通じて、以下に記載する個人情報を収集・利用致します。</p>
	<ol>
		<li>アカウント情報</li>
		<ul>
			<li>Facebookアカウントでご登録する場合</li>
				<p>ユーザーがアカウント登録時にFacebookアカウントを使用することを許諾し、FacebookのID及びパスワードを入力した場合、弊社は、Facebookアカウントからデータを引き継ぎ、ユーザーがFacebookに登録している顔写真（アイコン）、氏名、生年月日、性別、フレンドリストに関する情報を受領します。弊社は、FacebookのポリシーおよびあなたがFacebook上で選択した設定に従って、Facebookを通じて提供されたあらゆる情報を利用します。</p>
			<li>上記以外の方法でアカウント作成する場合</li>
			<p>上記以外の方法でアカウント作成する場合は、ご登録時に氏名、パスワード、電子メールアドレス、生年月日、ご本人の画像、などの情報を提供いただくものとします。</p>

			<li>その他登録情報</li>
			<p>本サービスを円滑にご利用いただくため、住所などの追加情報を任意でご提供いただく場合があります。</p>
		</ul>
		<li>ペットに関する情報</li>
		<p>本サービスにはペットのご登録を必要とする場合がございます。ご登録時に、ペットの名前、年齢、種類、写真などの情報をご提供いただくものとします。</p>
		<li>サービス利用情報</li>
		<p>弊社は、ユーザーのデバイスもしくはウェブブラウザから情報を自動的に受け取り、記録します。このような情報には、あなたのIPアドレス、当社のコンテンツに関連して弊社が作成するID、クッキー情報などが含まれます。詳細は、5.「クッキーの使用等について」をお読みください。</p>
	</ol>
	<li>利用目的</li>
	<ol>
		<li>ユーザーが弊社の本サービスを利用するための利用</li>

		<p>弊社に登録された会員として本サービスを利用するにあたり、ログイン等の本人認証に使用します。</p>

		<li>プロフィールページを作成するための利用</li>

		<p>本サービスにご登録いただいたユーザー本人及びペットの氏名、性別、写真、生年月日などの情報は、本サービスの基本となるユーザー毎のプロフィールページを作成するために用いられます。</p>

		<li>ユーザー間のコミュニケーションのための利用</li>

		<p>本サービスではユーザー間の活発なコミュニケーションを促進するために、コミュニティ、掲示板などの機能を提供しております。これらの機能を用いることで、他のユーザーとのコミュニケーションを目的とした様々な情報発信を行うことができます。こうした、ユーザーご自身のプロフィール以外のページにユーザーが自発的に入力した情報は、任意に制限できる場合を除き本サービスのユーザー以外からも閲覧可能となります。</p>

		<li>弊社とユーザーとの円滑なコミュニケーションのための利用</li>

		<p>本サービスにユーザーご本人がご登録頂いたメールアドレス等の個人情報は、本サービス情報、通知等をご提供する際、もしくは何らかの理由によりご本人と連絡を取る必要があると弊社が合理的に判断した場合の連絡手段として使用するものとします。</p>

		<li>弊社の広告宣伝マーケティング</li>

		<p>ユーザーご本人がご登録いただいた個人情報は、本サービスについてのメールマガジンを含めたメール、郵便、電話などによる情報提供に利用されます。</p>

		<li>サービス向上のために収集する統計情報</li>

		<p>本サービスへのアクセスログや履歴といった、個人を明確に特定しないデータを集合的に加工した統計情報は、サービスの品質向上やユーザーの嗜好性把握、広告表示の最適化の目的で使用します。</p>

		<li>ユーザーからのお問い合わせへの対応</li>

		<p>ユーザーから弊社になされる、電子メール、郵送、電話などによるお問い合わせに対する対応には、ユーザーによりご登録いただいた個人情報を利用します。</p>

		<li>ユーザーによる任意の情報提供</li>

		<p>本サービス上において、弊社又は弊社と提携した第三者がアンケートやキャンペーンなどの一環として個人情報の入力を求める場合があります。こうした通常のサービス以外に情報の提供を求める場合、その諾否は原則としてユーザーの任意となります。そうした場合には改めて収集情報の利用目的を明示し、ご提供いただいた情報をその目的の範囲内においてのみ適切に取り扱うものとします。</p>

		<li>有料サービスを利用しているユーザーに利用料金を請求する目的</li>

		<p>弊社の運営する有料サービスについて、ご本人のお支払方法、もしくはご利用にかかるご入金状況を確認する目的、利用料金を請求する目的で使用します。</p>

		<li>資料等の物品の発送</li>

		<p>弊社サービスに関してご請求いただいた各種資料や弊社自ら懸賞企画やキャンペーン等を行った場合、当選したユーザーに当選品を発送する目的で使用します。</p>
	</ol>
	<li>データ内容の正確性・安全性</li>
	<ol>
		<li>弊社は、ユーザーの個人情報の正確性、最新性を確保するため、ユーザーにご協力をお願いすることがあります。</li>

		<li>弊社は、セキュリティ確保のため、クレジットカード番号などの重要な情報の入力時には、これらの情報が傍受、妨害または改ざんされることを防ぐ目的でSSL技術を使用します。</li>
	</ol>
	<li>利用目的による制限</li>
	<p>弊社は、取得した個人情報について、利用目的の達成に必要な範囲内で取り扱います。個人情報を利用目的の範囲外で取り扱う場合は、あらかじめユーザーご本人の同意を得て行います。ただし、以下の場合はこの限りではありません。</p>
	<ol>
		<li>法令に基づく場合</li>

		<li>人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>

		<li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>

		<li>国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
	</ol>
	<li>クッキーの使用等について</li>
	<ol>
		<li>弊社は、ユーザーが、弊社や弊社の提携先等のサービスをご利用になったり、ページをご覧になったりする際に、ユーザーのIPアドレス、クッキー情報やユーザーがご覧になった広告・ページ、ユーザーのご利用環境などの情報をユーザーのブラウザから自動的に受け取り、サーバに記録する場合があります。</li>

		<li>弊社は、新しいサービスを検討したり、提供しているサービスや広告の内容をよりユーザーの皆様に適したものとするために、性別、職業、年齢、ご覧になったページ・広告、ご利用時間帯、ご利用の方法、ご利用環境等のユーザーに関する情報を利用する場合があります。</li>

		<li>弊社は、広告主や情報提供元、サービス提供元などに、どのような広告や情報、サービスなどを掲載又は提供していただくことが効果的であるかを分析して提供するために、ユーザーに関する情報を分析したり、分析のためのアンケートの対象の抽出を行う場合があります。なお、個人が識別できるような情報が分析結果に含まれることはありません。</li>

		<li>本サービスはWebブラウザのクッキーを有効にしていただくことでより有益なサービスをご提供できる場合があります。クッキーは、ユーザー情報やアクセス履歴などの情報をWebブラウザとWebサーバ間でやりとりするための機能です。クッキーのご利用は利便性が高い一方、プライバシー保護の観点からは好ましくない場合もございます。従って、クッキーはユーザーご自身の責任の範囲内において、適切にご利用ください。また、本サービスは外部のWebサイトへのリンクを多く含んでいますが、弊社はリンク先の Webサイトにおける個人情報の取り扱いについては責任を負いかねますので、各リンク先のサイトのご利用に際してはそれぞれのプライバシーポリシーを一読される事を推奨します。弊社は、弊社のサイトに掲載される広告の一部の表示及び配信を第三者企業に委託する場合があります。これらの第三者企業がクッキーを設定している場合には、情報は第三者企業のサーバに記録され、第三者企業のプライバシーポリシーのもとで管理されます。</li>
	</ol>
	<li>個人情報の漏えい、滅失又はき損を防止及び是正について</li>
	<p>弊社は、ユーザーが提供した個人情報を適切に管理し、個人情報の漏えい、滅失又はき損の防止及び是正に努めます。また、ユーザーが提供した個人情報は利用目的の範囲内で利用し、ユーザーの同意を得た者以外の第三者に提供、開示等一切いたしません。</p>
	<li>個人情報の第三者への提供</li>
	<p>弊社は、ユーザーの個人情報について、ユーザーご本人の同意を得ずに第三者に提供することは原則として行いません。提供先・提供内容を特定したうえで、ユーザーの同意を得た場合に限り、提供します。ただし、以下の場合はこの限りではありません。</p>
	<ol>
		<li>弊社の業務委託先が、弊社に代わってダイレクトメール、電子メールその他の手段で情報又は役務を提供する場合</li>

		<li>弊社の業務委託先が、弊社に代わってアフターサービスなどの個別の役務を提供するために必要がある場合</li>

		<li>統計的情報を提供する目的で、個々の個人情報を集積又は分析し、個人を識別できない形式に加工して、その統計データを開示する場合</li>

		<li>有料サービスを利用しているユーザーに利用料金を請求する目的で、弊社の業務委託先（秘密保持契約を締結した委託先に限る）である決済システム会社、クレジット会社及び銀行に有料サービスを利用しているユーザーの個人情報を預託する場合</li>

		<li>プレゼントの発送等のために配送業者にユーザーの個人情報を提供する場合</li>

		<li>法令により開示又は提供が許容されている場合</li>
	</ol>
	<li>個人情報の開示</li>
	<p>ユーザーご本人の個人情報の開示、内容の訂正、追加、削除、利用の停止、消去、第三者への提供の停止及び苦情相談等については、8.の「お問い合わせ先」までお申し出ください。ただし、以下の場合は、その全部又は一部を開示しない場合があります。</p>
	<ol>
		<li>ユーザー本人又は第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>

		<li>弊社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>

		<li>他の法令に違反するおそれがある場合</li>
	</ol>
	<li>お問い合わせ先</li>
		<p><%= @company_name %></p>
		<p>メールアドレス：<%= @mail %></p>
	<li>個人情報に関する法令・規範の遵守</li>
	<p>弊社は、弊社が保有する個人情報に関して適用される法令及びその他規範を遵守します。</p>
	<li>プライバシーポリシーの改訂について</li>
	<p>弊社は、予告なく本プライバシーポリシーの内容を変更することがあります。その場合、変更後の内容は弊社サイト上に掲載いたします。</p>
	<p>以上</p>
</ol>
<p>2018年03月24日制定</p>
<p><%= @company_name %></p>
<p>代表取締役CEO正木</p>